/.vs/gn-entities-core/CopilotIndices/
/.vs/gn-entities-core/v17/
/gn-entities-core/bin/
/gn-entities-core/obj/
/.vs/gn-entities-core/FileContentIndex/
/.vs/gn-entities-core/DesignTimeBuild/
/.vs/
/gn-core-entities/bin/
/gn-core-entities/obj/
